<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">

    <!-- Faction -->
    <servlet>
        <servlet-name>FactionCU</servlet-name>
        <servlet-class>controllers.handlers.faction.FactionCU</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FactionCU</servlet-name>
        <url-pattern>/faction-cu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FactionRD</servlet-name>
        <servlet-class>controllers.handlers.faction.FactionRD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FactionRD</servlet-name>
        <url-pattern>/faction-rd</url-pattern>
    </servlet-mapping>

    <!-- Player -->
    <servlet>
        <servlet-name>PlayerCU</servlet-name>
        <servlet-class>controllers.handlers.player.PlayerCU</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlayerCU</servlet-name>
        <url-pattern>/player-cu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlayerRD</servlet-name>
        <servlet-class>controllers.handlers.player.PlayerRD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlayerRD</servlet-name>
        <url-pattern>/player-rd</url-pattern>
    </servlet-mapping>

    <!-- Staff -->
    <servlet>
        <servlet-name>StaffCU</servlet-name>
        <servlet-class>controllers.handlers.staff.StaffCU</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StaffCU</servlet-name>
        <url-pattern>/staff-cu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StaffRD</servlet-name>
        <servlet-class>controllers.handlers.staff.StaffRD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StaffRD</servlet-name>
        <url-pattern>/staff-rd</url-pattern>
    </servlet-mapping>

    <!-- Item -->
    <servlet>
        <servlet-name>ItemCU</servlet-name>
        <servlet-class>controllers.handlers.item.ItemCU</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ItemCU</servlet-name>
        <url-pattern>/item-cu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ItemRD</servlet-name>
        <servlet-class>controllers.handlers.item.ItemRD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ItemRD</servlet-name>
        <url-pattern>/item-rd</url-pattern>
    </servlet-mapping>

    <!-- Inventory -->
    <servlet>
        <servlet-name>TypeCU</servlet-name>
        <servlet-class>controllers.handlers.type.TypeCU</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TypeCU</servlet-name>
        <url-pattern>/type-cu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TypeRD</servlet-name>
        <servlet-class>controllers.handlers.type.TypeRD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TypeRD</servlet-name>
        <url-pattern>/type-rd</url-pattern>
    </servlet-mapping>

    <!-- Rarity -->
    <servlet>
        <servlet-name>RarityCU</servlet-name>
        <servlet-class>controllers.handlers.rarity.RarityCU</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RarityCU</servlet-name>
        <url-pattern>/rarity-cu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RarityRD</servlet-name>
        <servlet-class>controllers.handlers.rarity.RarityRD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RarityRD</servlet-name>
        <url-pattern>/rarity-rd</url-pattern>
    </servlet-mapping>

    <!-- Inventory -->
    <servlet>
        <servlet-name>InventoryCU</servlet-name>
        <servlet-class>controllers.handlers.inventory.InventoryCU</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InventoryCU</servlet-name>
        <url-pattern>/inventory-cu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InventoryRD</servlet-name>
        <servlet-class>controllers.handlers.inventory.InventoryRD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InventoryRD</servlet-name>
        <url-pattern>/inventory-rd</url-pattern>
    </servlet-mapping>

    <!-- Transaction -->
    <servlet>
        <servlet-name>TransactionCU</servlet-name>
        <servlet-class>controllers.handlers.transaction.TransactionCU</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TransactionCU</servlet-name>
        <url-pattern>/transaction-cu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransactionRD</servlet-name>
        <servlet-class>controllers.handlers.transaction.TransactionRD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TransactionRD</servlet-name>
        <url-pattern>/transaction-rd</url-pattern>
    </servlet-mapping>

    <!-- Redirection -->

    <!-- Dashboard -->
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controllers.handlers.redirections.DashboardRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <!-- Faction -->
    <servlet>
        <servlet-name>Factions</servlet-name>
        <servlet-class>controllers.redirections.lists.FactionsRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Factions</servlet-name>
        <url-pattern>/factions</url-pattern>
    </servlet-mapping>

    <!-- Item -->
    <servlet>
        <servlet-name>Items</servlet-name>
        <servlet-class>controllers.redirections.lists.ItemsRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Items</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>

    <!-- Rarity -->
    <servlet>
        <servlet-name>Rarities</servlet-name>
        <servlet-class>controllers.redirections.lists.RaritiesRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Rarities</servlet-name>
        <url-pattern>/rarities</url-pattern>
    </servlet-mapping>

    <!-- Type -->
    <servlet>
        <servlet-name>Types</servlet-name>
        <servlet-class>controllers.redirections.lists.TypesRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Types</servlet-name>
        <url-pattern>/types</url-pattern>
    </servlet-mapping>

    <!-- Transaction -->
    <servlet>
        <servlet-name>Transactions</servlet-name>
        <servlet-class>controllers.redirections.lists.TransactionsRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Transactions</servlet-name>
        <url-pattern>/transactions</url-pattern>
    </servlet-mapping>

    <!-- Player -->
    <servlet>
        <servlet-name>Players</servlet-name>
        <servlet-class>controllers.redirections.lists.PlayersRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Players</servlet-name>
        <url-pattern>/players</url-pattern>
    </servlet-mapping>

    <!-- Inventory -->
    <servlet>
        <servlet-name>Inventories</servlet-name>
        <servlet-class>controllers.redirections.lists.InventoriesRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Inventories</servlet-name>
        <url-pattern>/inventories</url-pattern>
    </servlet-mapping>

    <!-- Form Mapping -->
    <!-- Faction form -->
    <servlet>
        <servlet-name>FactionForm</servlet-name>
        <servlet-class>controllers.redirections.forms.FactionFormRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FactionForm</servlet-name>
        <url-pattern>/faction-form</url-pattern>
    </servlet-mapping>

    <!-- Rarity -->
    <servlet>
        <servlet-name>RarityForm</servlet-name>
        <servlet-class>controllers.redirections.forms.RarityFormRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RarityForm</servlet-name>
        <url-pattern>/rarity-form</url-pattern>
    </servlet-mapping>

    <!-- Type -->
    <servlet>
        <servlet-name>TypeForm</servlet-name>
        <servlet-class>controllers.redirections.forms.TypeFormRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TypeForm</servlet-name>
        <url-pattern>/type-form</url-pattern>
    </servlet-mapping>

    <!-- Player -->
    <servlet>
        <servlet-name>PlayerForm</servlet-name>
        <servlet-class>controllers.redirections.forms.PlayerFormRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlayerForm</servlet-name>
        <url-pattern>/player-form</url-pattern>
    </servlet-mapping>

    <!-- Inventory -->
    <servlet>
        <servlet-name>InventoryForm</servlet-name>
        <servlet-class>controllers.redirections.forms.InventoryFormRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InventoryForm</servlet-name>
        <url-pattern>/inventory-form</url-pattern>
    </servlet-mapping>


    <!-- Item -->
    <servlet>
        <servlet-name>ItemForm</servlet-name>
        <servlet-class>controllers.redirections.forms.ItemFormRedirection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ItemForm</servlet-name>
        <url-pattern>/item-form</url-pattern>
    </servlet-mapping>
</web-app>